@{
    ViewData["Title"] = "Create Deck";
}
@section Styles {
    <link href="~/css/createdeck.css" rel="stylesheet" />
}

<div class="cover-image">
    <div>
        <h1 class="image-text">Crea tu deck!</h1>
    </div>
</div>

<!-- Formulario -->
<div class="container form-container">
    <form>
        <div class="mb-3">
            <label for="nombreDeck" class="form-label">Nombre del deck</label>
            <input type="text" class="form-control" id="nombreDeck" placeholder="Ingresa el nombre del deck">
        </div>

        <div class="mb-3">
            <label for="portadaDeck" class="form-label">Carta de portada</label>
            <input type="text" class="form-control" placeholder="Pokemon de portada" aria-label="portadaDeck" aria-describedby="button-addon2">
        </div>


        <div class="mb-3">
            <label for="descripcionDeck" class="form-label">Descripcion</label>
            <textarea class="form-control" id="descripcionDeck" rows="4" placeholder="Ingresa una descripcion"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Continuar</button>
    </form>
</div>
