<body>
    
    <!-- Log In page -->
    <div class="container-fluid ">
        <div class="row align-items-center" style="background-image: url('/template/img/PokemonFondo5.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;  margin-top: 0; height: 80vh;">
            <div class="col-3 mx-auto mt-5 mb-5 my-0" >
                <div class="auth-page">
                    <div class="card auth-card shadow-lg">
                        <div class="card-body" style="">

                            <div class="px-3">

                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-5">Ven ¡vamos a capturarlos a todos!</h4>
                                    <p class="text-muted mb-0">Inicia sesión para acceder a tu cuenta</p>
                                </div> <!--end auth-logo-text-->


                                <form asp-action="Login" asp-controller="Authentication" method="post" class="form-horizontal m-t-30">

                                    <div class="form-group">
                                        <label for="username">Email</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user"></i>
                                            </span>
                                            <input type="text" class="form-control" id="email" name="User_Email" placeholder="Ingresa tu email">
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label for="userpassword">Contraseña</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" id="userpassword" name="User_Password" placeholder="Ingresa tu contraseña">
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group row mt-4">
               
                                        <div class="col-sm-12 text-center">
                                            <a href="@Url.Action("AuthRecoverPW", "Authentication")" style="color: #4b56a7;;"><i class="dripicons-lock"></i>No recuerdas tú contraseña?</a>
                                        </div><!--end col-->
                                    </div><!--end form-group-->

                                    <div class="col-12 mt-2 text-center">
                                        <button class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light mx-auto" id="btnLogin" name="btnLogin" type="submit" onclick="verificarCamposLogin()">
                                            Inicia Sesión <i class="fas fa-sign-in-alt ml-1"></i>
                                        </button>
                                    </div> <!--end form-group-->
                                </form><!--end form-->

                                    <!-- Resto del formulario -->

                              
                            </div><!--end /div-->

                            <div class="m-3 text-center text-muted">
                                <p class="">Aún sin cuenta? <a href="@Url.Action("RegisterAccount", "Authentication")" style="color: #4b56a7;">Regístrate aquí</a></p>
                            </div>
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div><!--end auth-page-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-fluid-->
    <!-- End Log In page -->
</body>

