<!DOCTYPE html>
<html lang="en">



<body class="account-body accountbg">

    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 ">
            <div class="col-12 align-self-center">
                <div class="auth-page">
                    <div class="card auth-card shadow-lg">
                        <div class="card-body">
                            <div class="px-3">
                                <div class="auth-logo-box">
                                    <a href="../dashboard/analytics-index.html" class="logo logo-admin"><img src="~/template/assets/images/logo-sm.png" height="55" alt="logo" class="auth-logo"></a>
                                </div>

                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-5">Pantalla de Registro</h4>
                                </div> 


                                <form asp-action="RegisterAccount" asp-controller="Authentication" method="post" class="form-horizontal m-t-30">

                                    @ViewBag.MensajePantalla

                                    <div class="form-group">
                                        <label for="nickname">Nickname</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user"></i>
                                            </span>
                                            <input type="text" class="form-control" id="nickname" name="User_Nickname" placeholder="Digite un nickname que desea utilizar">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userEmail">Email</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-mail"></i>
                                            </span>
                                            <input type="email" class="form-control" id="userEmail" name="User_Email" placeholder="Digite su correo electronico">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="userPassword">Contraseña</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" id="userPassword" name="User_Password" placeholder="Digita tu contraseña">
                                        </div>
                                    </div><

                                    <div class="form-group">
                                        <label for="userPasswordConfirm">Confirmar Contraseña</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" id="userPasswordConfirm" placeholder="Confirma contraseña">
                                        </div>
                                    </div>

                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-gradient-primary btn-round btn-block waves-effect waves-light" id="btnRegister" type="submit" onclick="verificarCampos()">Registrarse <i class="fas fa-sign-in-alt ml-1"></i></button>
                                        </div>
                                    </div> 
                                </form>
                            </div>

                            <div class="m-3 text-center text-muted">
                                <p class="">Ya tiene cuenta? <a href="@Url.Action("Login", "Authentication")" class="text-primary ml-2">Iniciar Sesion</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 


    <!-- App js -->
    <script src="~/template/assets/js/app.js"></script>
    <script src="~/template/js/main.js"></script>

</body>

</html>