@model CardsLand_Web.Entities.UserEnt
@{
    ViewData["Title"] = "EditSpecificUser";
}


<body style="margin: 0; display: flex; flex-direction: column; min-height: 100vh; background-image: url('/template/img/PokemonFondo10.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">

    <div style="flex: 1;">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4 text-center mb-5" style="background-color: rgba(255, 255, 255, 0.6); padding: 10px; border-radius: 10px;">
                        <h2 class="heading-section">PokeTrainers</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="background-color: rgba(255, 255, 255, 0.5); padding: 10px; border-radius: 10px; margin-bottom: 20px;">
                        <h5 class="font-18 text-center">Editar usuario</h5>

                        <form asp-action="EditSpecificUser" asp-controller="User" method="post" class="pt-3">
                            <div class="form-group" style="display: none;">
                                <div class="col-6 mx-auto">
                                    <label asp-for="User_Id" class="control-label"></label>
                                    <input asp-for="User_Id" class="form-control" />
                                </div>
                            </div>

                            <div class="form-horizontal m-t-30">
                                <div class="form-group">
                                    <div class="col-6 mx-auto">
                                        <label style="color: black;">Nickname</label>
                                        <input asp-for="User_Nickname" class="form-control form-control-lg" />
                                    </div>
                                </div>

                                <div class="form-horizontal m-t-30">
                                    <div class="form-group">
                                        <div class="col-6 mx-auto">
                                            <label style="color: black;">Correo Electrónico</label>
                                            <input asp-for="User_Email" class="form-control form-control-lg" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-6 mx-auto">
                                            <label style="color: black;">Rol</label>
                                            <select asp-for="User_IsAdmin" class="form-control form-control-lg">
                                                <option value="False" selected>Cliente</option>
                                                <option value="True">Administrador</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group text-center m-t-20">
                                        <div class="col-md-6 mx-auto">
                                            <button class="btn btn-danger btn-block btn-lg waves-effect waves-light" type="submit">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                        <p>@ViewBag.MensajePantalla</p>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>

    <!-- Aquí puede agregar el código de su pie de página si es necesario -->

</body>

