
@{
    ViewData["Title"] = "ActividadesParaImprimir";
}

<body style="margin: 0; display: flex; flex-direction: column; min-height: 100vh; background-image: url('/template/img/pokemon-hd3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <div style="flex: 1;">
        <section class="ftco-section">
            <br />
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center mb-5" style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 10px;">
                        <h1 class="mb-3">
                            Hojas de actividades Pokémon para niños: <br>
                            rompecabezas, laberintos, hojas para colorear y mucho más</h1>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row" >
                        <div class="col-md-4">
                            <div class="bg-info p-2 mb-2 rounded" >
                                <h2 class="text-white text-center">Separador Pokémon</h2>
                            </div>
                            <ul class="list-group" style="background-color: rgba(255, 255, 255, 0.6);">
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1egJvm4ZiQSTew_o6W3a4NuViH5RxF4Gy/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Separador Pokémon 1</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1IRvwkfgg96O4zh2w3RHqfszpZhOpRsyR/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Separador Pokémon 2</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1clC4mBF--1NjVvK0k7OS_DIAxx5ZTlR1/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Separador Pokémon 3</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1DB8kAnUQ9rZTOpTE2R-uWwJj90GtrMPa/view?usp=sharing" class="text-dark text-center " target="_blank" rel="noopener noreferrer">Separador Pokémon 4</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <div class="bg-success p-2 mb-3 rounded">
                                <h2 class="text-white text-center">Hoja de colorear Pokémon</h2>
                            </div>
                            <ul class="list-group" style="background-color: rgba(255, 255, 255, 0.6);">
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1HNZum6DryKXAPqbjFp_r2qhUHjiGuLsm/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Colorear por número: Charizard</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1ELecR-oHsaMKOJAyyC8ke7sbMTObmHHj/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Colorear Pokémon: Pokémon de tipo Eléctrico</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1OQDrUZ4_Uq6J7Z3gdNzR3rfRWLHktvQe/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Colorear Pokémon: Pokémon de tipo Tierra</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1SGbrshOHuBlCieMrxP8aU--oJ_73B8oO/view?usp=sharing" class="text-dark text-center " target="_blank" rel="noopener noreferrer">Colorear Pokémon: Pokémon de tipo Agua</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <div class="bg-warning p-2 mb-3 rounded">
                                <h2 class="text-white text-center">Dibuja tu propia carta</h2>
                            </div>
                            <ul class="list-group" style="background-color: rgba(255, 255, 255, 0.6);">
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1J_EJjTS5WdulqiIBLoS5g0S_X1U3HM0t/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Dibuja tu propia carta de JCC Pokémon - Eevee</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1-2DNvNdPflMzv4gIWB_8EFs-KBoLyQUS/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Dibuja tu propia carta de JCC Pokémon: Fuecoco</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1icoDivHdTfdgy9ZbjK9olRc4PPb1esNu/view?usp=sharing" class="text-dark" target="_blank" rel="noopener noreferrer">Dibuja tu propia carta de JCC Pokémon - Pikachu</a>
                                </li>
                                <li class="list-group-item  text-center" style="background-color: rgba(255, 255, 255, 0.6);"
                                    onmouseover="this.style.backgroundColor='rgba(250, 231, 40, 0.4)';"
                                    onmouseout="this.style.backgroundColor='rgba(255, 255, 255, 0.4)';">
                                    <a href="https://drive.google.com/file/d/1ZFlJkUHe8X9cUWJeM9Tllje4MgygMPRs/view?usp=sharing" class="text-dark text-center " target="_blank" rel="noopener noreferrer">Dibuja tu propia carta de JCC Pokémon: Sprigatito</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    
</body>


